# Virtual environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SpaCy cache/models
.spacy/

# dotenv
.env

# OS/editor noise
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Build/dist
build/
dist/
*.egg-info/

